/*==================================
* Helpers
===================================*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*==================================
* Spinner
===================================*/
.kt-spinner{
    position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999999;
	display: none;
	background: url(../imagàt?s/spinner.gif) no-repeat center center;
}
/*==================================
* Custom stype for metabox
===================================*/
.rwmb-meta-box{
    margin-top: 20px;
}
.rwmb-meta-box .rwmb-label{
    font-size: 14px;
    font-weight: bold;
    width: 34%;
}
.rwmb-meta-box .rwmb-label ~ .rwmb-input{
    width: 64%;
}
div#post-body .rwmb-select-advanced{
    min-width: 330px;
}

div#post-body .rwmb-select{
    -moz-appearance: none;
    background: url("../images/selectbox-arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: 1px solid #e4e4e4;
    cursor: pointer;
    height: 30px;
    width: 174px;
}

/*==================================
* Icon for post type
===================================*/
#menu-posts-kt_designer .dashicons-before:before{
    font-family: "ElegantIcons";
    font-size: 16px;
}
#menu-posts-kt_designer .dashicons-before:before{
    content: "\e08b";
}

/*==================================
* Disable post-preview for some post type
===================================*/
.post-type-kt_designer #post-preview{
    display: none;
}
.post-type-kt_designer #preview-action:before{
    content: ' ';
    color: red;
    text-align: left;
    display: block;
    
}
.post-type-kt_designer #titlediv div.inside{
    display: none;
}


/*==================================
* Responsive
===================================*/
@media screen and (max-width:782px){
    .menu-item-settings input[type="checkbox"]{width:auto;}
}
/*==================================
* END Responsive
===================================*/