

/*==================================
* Menu icon
===================================*/

.menu-icon-testimonial .dashicons-before:before,
.menu-icon-portfolio .dashicons-before:before,
.menu-icon-clients .dashicons-before:before,
.menu-icon-faqs .dashicons-before:before,
.menu-icon-slide .dashicons-before:before{
    font-size:16px;
    font-family: icomoon!important;
}
.menu-icon-portfolio .dashicons-before:before{
    content: "\f0b1";
}
.menu-icon-clients .dashicons-before:before{
    content: "\f0c0";
}
.menu-icon-faqs .dashicons-before:before{
    content: "\f059";
}
.menu-icon-slide .dashicons-before:before{
    content: "\f03e";
}
.menu-icon-testimonial .dashicons-before:before{
    content: "\f164";
}

/*==================================
* Icon Selector
===================================*/
.themedev-icon-selector{
    padding-right: 90px;
    position: relative;
}
.themedev-icon-selector .themedev-icon-preview{
    border: 1px solid #ddd;
    font-size: 33px;
    height: 65px;
    line-height: 65px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 65px;
}
.themedev-icon-selector .themedev-icon-preview i{
    line-height: 65px;
    display: block;
}
.themedev-icon-selector .themedev-icon-preview span{
    display: none;
}
.themedev-icon-selector .themedev-icon-preview span:after{
    content: '\f00d';
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    cursor: pointer;
    font-family: "icomoon";
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 16px;
    left: 0;
    line-height: 16px;
    position: absolute;
    text-align: center;
    text-transform: none;
    top: 0;
    width: 15px;
}
.themedev-icon-list{
    border: 1px solid #ddd;
    height: 150px;
    overflow: auto;
    margin-bottom: 3px;
}
.themedev-icon-list i{
    border: 1px solid #e1e1e1;
    display: inline-block;
    float: left;
    margin: -1px 0 0 -1px;
    padding: 0.5em 0;
    text-align: center;
    width: 2em
}
.themedev-icon-list i.active,
.themedev-icon-list i:hover{
    background: #0074a2;
    color: #FFF;
    border-color: #0074a2;
    cursor: pointer;
}


/* CUSSTOM META_BOX ==========================================*/
/* Bootstrap-switch */
.bootstrap-switch .bootstrap-switch-label{
    vertical-align: top;
}
.bootstrap-switch{
    border-radius: 15px;
}
.bootstrap-switch .bootstrap-switch-handle-on, 
.bootstrap-switch .bootstrap-switch-handle-off, 
.bootstrap-switch .bootstrap-switch-label{
    line-height: 16px;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
    background-color: #1ABC9C;
}
/* END bootstrap-switch */
/* Image select custom */
.rwmb-image-select{
    border: none;
    height: auto;
    text-align: center;
}
.rwmb-image-select img{
    border: 3px solid #CCCCCC;
    max-width: 74px;
}
.rwmb-image-select:hover img, 
.rwmb-image-select.rwmb-active img{
    border-color: #1ABC9C;
}
.rwmb-image_select_custom-wrapper p.description, 
.rwmb-image_select_custom-wrapper p.help{
    clear: both;
}
/* END image select custom */

/*
select.rwmb-select,
input.rwmb-text{
    border: 1px solid #1ABC9C;
    border-radius: 4px;
    padding: 4px 5px;
}
.select2-container .select2-choice{
    border: 1px solid #1ABC9C;
}
a.rwmb-image-advanced-upload{
    border: 1px solid #1ABC9C;
}
.rwmb-field p.description{
    font-size: 12px;
}
.redux-container-image_select ul.redux-image-select li,
.redux-container-image_select .redux-image-select,
.redux-container-image_select .redux-image-select img{
    max-width: 100%;
    background: none;
}
.redux-container-image_select ul.redux-image-select li span{
    display: block;
    margin-bottom: 15px;
    text-align: center;
}
.redux-container-image_select .redux-image-select img{
    box-sizing: border-box;
}
*/
/* END CUSSTOM META_BOX ==========================================*/
.rwmb-checkbox + p{
    display: inline-block;
    margin-left: 5px;
}
.upload-preview{
    cursor: auto;
    float: right;
    font-size: 25px;
    height: 32px;
    line-height: 32px;
    margin-right: 22px;
    margin-top: -3px;
    text-align: center;
    width: 32px;
}
.icons-wrapper{
    clear: both;
    padding-bottom: 10px;
    overflow: hidden;
}
.icons-wrapper h5{
    border-bottom: 1px solid #000;
    clear: both;
    font-size: 15px;
    margin: -20px 15px 15px;
    text-align: center;
}
.icons-wrapper h5 span{
    background: #FFF;
    display: inline-block;
    margin: 2px 0 20px;
    padding: 0 10px;
    position: relative;
    top: 25px;
}
.icons-wrapper ul{
    clear: both;
    margin: 0 15px;
    padding: 0;
    width: auto;
}
.icons-wrapper li{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: relative;
    cursor: pointer;
}
.icons-wrapper li span{
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.icons-wrapper li:hover span{
    background: #FFF;
    border: 1px solid rgb(0, 0, 0);
    font-size: 30px;
    height: 44px;
    left: -11px;
    line-height: 44px;
    top: -14px;
    width: 44px;
    z-index: 1;
}

.wpb_edit_form_elements .vc_row-fluid input.search-icons{
    margin-top: 5px;
    padding: 5px;
}

.icons-select-wrapper{
    max-height: 150px;
    overflow: auto;
    margin-top: 10px;
}


.rwmb-radio_image-wrapper .rwmb-input label{
    float:left;
    text-align:center;
    margin:0 10px;
}
#side-sortables .rwmb-input .rwmb-text{
    max-width: 100%;
}

.slider-no-image-preview .upload_button_div{
     display: none;
}