/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. New Grid System
2. Add clearfix in the grid system
3. Styles for devices(>=1200px)
4. Styles for devices(>=992px and <=1199px)
5. Styles for devices(<=1199px)
6. Styles for devices(<=991px )
7. Styles for devices(>=768px and <= 991px)
8. Styles for devices(<=767px )
9. Styles for devices(>=768px and <= 991px)
10. Styles for devices(<=480px )
11. Styles for devices(<=320px )
*/

/* 3. Styles for devices(>=1200px) */
@media (min-width: 1200px) {
    *{}
}

/* 4. Styles for devices(>=992px and <=1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    *{}
}

/* 5. Styles for devices(<=1199px) */
@media (max-width: 1199px) {
    *{}
}

/* 6. Styles for devices(<=991px ) */
@media (max-width: 991px) {
    *{}
    .header-container.header-absolute{
        position: static;
    }
    #main-nav,
    .header-content-left,
    .header-content-right{
        display: none;
    }
    #header-wrap .display-table,
    #mobile-content-all,
    #header-content-mobile{
        display: block;
    }
    #header-wrap .site-branding{
        display: block;
        padding: 15px 0;
        width: auto;
        position: relative;
        text-align: left;
    }
    #header-wrap .site-branding .site-logo{
        margin: 0 auto;
    }
    
    .header-layout2 #header-inner,
    .header-layout3 #header-inner,
    #mobile-content-all{
        padding: 0 75px 0 0;
        width: 100%;
        margin: 10px 0;
        position: relative;
    }
    .header-layout2 .header-content-bottom .searchform, 
    .header-layout3 .header-content-bottom .searchform{
        width: 100%;
        margin: 0;
    }
    #mobile-content-all .searchform input[type="text"],
    .header-layout2 .header-content-bottom .searchform input[type="text"], 
    .header-layout3 .header-content-bottom .searchform input[type="text"]{
        width: 100%;
        height: 32px;
    }
    .header-content-top{
        margin: 0;
    }
    
    
    
    #footer-bottom .display-table{
        display: block;
    }
    #footer-bottom .display-table .display-td{
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }
    #footer-bottom .display-table .display-td:last-child{
        margin-bottom: 0;
    }
    
    #main,
    .sidebar{
        margin-bottom: 20px;
    }
    .term-description{
        padding-right: 0;
    }
}

/* 10. Styles for devices(<=480px ) */
@media (max-width: 480px) {
    *{}
    .woocommerce ul.products.lists .product-image-container,
    .woocommerce ul.products.lists .product-meta-wrapper{
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    body .wpb_content_element .wpb_tabs_nav li{
        float: none;
        margin: 0 0 3px;
    }
    .page-title{
        float: none;
        margin: 0 0 15px;
    }
    .woocommerce .product-detail-content{
        padding: 10px;
    }
    .woocommerce .woocommerce-tabs ul.tabs li{
        float: none;
        margin: 0 0 3px;
    }
    .woocommerce #review_form #respond p.stars{
        display: none;
    }
    .woocommerce #review_form #respond select{
        display: block!important;
    }
    .woocommerce .single_variation_wrap .variations_button, 
    .woocommerce .cart-product-buttons{
        margin: 0 0 10px;
        width: 100%;
    }
    .content_sortPagiBar{
        text-align: center;
    }
    .woocommerce-pagination,
    .woocommerce-result-count,
    .woocommerce-ordering{
        float: none;
        margin: 0 0 10px;
    }
    .woocommerce-result-count{
        float: none;
        margin: 0;
    }
}