#backtotop,
#calendar_wrap tbody td,
.blog-posts .post-item .entry-date-time,
.woocommerce ul.products .product-image-container .button, 
.woocommerce ul.products .product-image-container .functional-buttons,
.shopping_cart > a span.cart-content-total{
    background-color: #005eab;
}
.shopping_cart > a span.cart-content-total::before{
    border-right-color: #005eab;
}
.tp-bullets .tp-rightarrow.round{
    background-image: url(../images/prev_slide_hz_blue.png);
}
.tp-bullets .tp-leftarrow.round{
    background-image: url(../images/next_slide_hz_blue.png);
}
