
/** ================================================
    Woocommerce core
*** ================================================*/

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.woocommerce a.remove {
    background: url("../images/remove_cart.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    color: #666;
    display: block;
    height: 15px;
    line-height: 30px;
    margin: 0;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    text-indent: -999px;
    width: 15px;
}

.woocommerce a.remove:hover {
  border-color: #666666;
}

.woocommerce .blockUI.blockOverlay {
  position: relative;
}

.woocommerce .blockUI.blockOverlay:before,.woocommerce .loader:before {
  height: 1em;
  width: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -.5em;
  margin-top: -.5em;
  display: block;
  -webkit-animation: spin 1s ease-in-out infinite;
  -moz-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  content: "";
  background: url(../images/loader.svg) center center/cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  color: rgba(0,0,0,.75);
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    position:relative;
    background-color:#f7f6f7;
    color:#515151;
    border-top:3px solid #a46497;
    list-style:none!important;
    width:auto;
    margin:0 0 2em!important;
    padding:1em 2em 1em 3.5em !important;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
    font-family:WooCommerce;
    content:"\e028";
    display:inline-block;
    position:absolute;
    top:1em;
    left:1.5em;
}

.woocommerce .woocommerce-error li,
.woocommerce .woocommerce-info li,
.woocommerce .woocommerce-message li {
    list-style:none!important;
    padding-left:0!important;
    margin-left:0!important;
}

.woocommerce .woocommerce-message {
    border-top-color:#8fae1b;
}

.woocommerce .woocommerce-message:before {
    content:"\e015";
    color:#8fae1b;
}

.woocommerce .woocommerce-info {
    border-top-color:#1e85be;
}

.woocommerce .woocommerce-info:before {
    color:#1e85be;
}

.woocommerce .woocommerce-error {
    border-top-color:#b81c23;
}

.woocommerce .woocommerce-error:before {
    content:"\e016";
    color:#b81c23;
}

.woocommerce-message a{
    float: right;
}

.woocommerce table.shop_table {
  border: 1px solid rgba(0,0,0,.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
}

.woocommerce table.shop_table th {
  font-weight: 700;
  padding: 9px 12px;
}

.woocommerce table.shop_table td {
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 6px 12px;
  vertical-align: middle;
}

.woocommerce table.shop_table td small {
  font-weight: 400;
}

.woocommerce table.shop_table tbody:first-child tr:first-child td,
.woocommerce table.shop_table tbody:first-child tr:first-child th {
  border-top: 0;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  font-weight: 700;
  border-top: 1px solid rgba(0,0,0,.1);
}



.woocommerce form .form-row {
  padding: 3px;
  margin: 0 0 6px;
}

.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity .5s .5s ease;
  -moz-transition: opacity .5s .5s ease;
  transition: opacity .5s .5s ease;
  opacity: 0;
}

.woocommerce form .form-row label {
  line-height: 2;
}

.woocommerce form .form-row label.hidden {
  visibility: hidden;
}

.woocommerce form .form-row label.inline {
  display: inline;
}

.woocommerce form .form-row select {
  cursor: pointer;
  margin: 0;
}

.woocommerce form .form-row .required {
  color: red;
  font-weight: 700;
  border: 0;
}

.woocommerce form .form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: 1;
}

.woocommerce form .form-row textarea {
  height: 4em;
  line-height: 1.5;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.woocommerce form .form-row .select2-container {
  width: 100%;
  line-height: 2em;
}

.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
  border-color: #a00;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
  border-color: #69bf29;
}

.woocommerce form .form-row ::-webkit-input-placeholder {
  line-height: normal;
}

.woocommerce form .form-row :-moz-placeholder {
  line-height: normal;
}

.woocommerce form .form-row :-ms-input-placeholder {
  line-height: normal;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,.woocommerce form.register {
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}


/** ================================================
    Woocommerce shopping cart
*** ================================================*/



.shopping_cart .shopping-bag{  
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1002;
    padding-top: 10px;
    color: #666;
    
    width: 350px;
    text-align: left;
    -webkit-box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:  0 1px 3px 0 rgba(50, 50, 50, 0.75);
    box-shadow:       0 1px 3px 0 rgba(50, 50, 50, 0.75);
    
    
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;  /* For Safari 3.1 to 6.0 */
    -moz-transition: opacity 0.5s, -moz-transform 0.5s;
    -ms-transition: opacity 0.5s, -ms-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform:  translate(0,40px);
    -moz-transform:     translate(0,40px);
    -o-transform:       translate(0,40px);
    -ms-transform:      translate(0,40px);
    transform:          translate(0,40px);
    opacity: 0;
    display: block;
    visibility: hidden;
     
}
.shopping_cart:hover .shopping-bag{
    -webkit-transform:  translate(0,0);
    -moz-transform:     translate(0,0);
    -o-transform:       translate(0,0);
    -ms-transform:      translate(0,0);
    transform:          translate(0,0);
    opacity: 1;
    visibility: visible;
}
.shopping_cart:hover > a:after{
    display: block;
}
.shopping-bag-wrapper{
    height: auto;
    background: #f7f7f7;
    overflow-y: auto;
    max-height: 500px;
}
.shopping_cart .shopping-bag-content{
    padding: 25px 30px;
}
.cart_block_no_products{
    margin: 0 0 20px;
    padding: 0;
}
.bag-products{
    padding-bottom: 15px;
}
.bag-products .bag-product{
    font-weight: normal;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.bag-products .bag-product .bag-product-details{
    overflow: hidden;
    padding: 0 5px 5px 40px;
    position: relative;
    text-align: left;
}
.bag-products .bag-product figure{
    float: right;
}
.bag-products .bag-product figure img{
    max-width: 70px;
    height: auto;
}
.bag-products .bag-product a.remove{
    background: url(../images/remove_cart.png) no-repeat center center;
    left: 0;
    position: absolute;
    top: 14px;
    border: 1px solid #666666;
    color: #666;
    display: block;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    width: 30px;
}
.bag-products .bag-product:hover a.remove{
    border-color: #000;
}
.bag-product .bag-product-title{
    margin: 0 0 15px;
}
.bag-product .bag-product-title a{
    color: #666666;
}
.bag-product .bag-product-title a:hover{
    text-decoration: none;
    color: #000;
}
.bag-product .bag-product-price,
.bag-product.bag-product-qty{
    display: inline-block;
}
.bag-product .bag-product-qty{
    border-left: 1px solid #666;
    color: #666;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
    padding: 0 0 0 6px;
    text-transform: uppercase;
    margin-left: 6px;
}
.bag-total{
    padding-bottom: 25px;
    font-size: 18px;
}
.bag-buttons a{
    margin-right: 10px;
}


.shopping_cart + #top-nav{
    margin-right: 10px;
}

.mCSB_inside > .mCSB_container{
    margin-right: 15px;
}
.mCSB_scrollTools{
    width: 10px;
    opacity: 1;
    background: #000;
}
.mCSB_scrollTools .mCSB_draggerRail{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #808080;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    width: 10px;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    
}

/** =========================
    1. Woocommerce Common
*** =========================*/
.page-title{
    float: left;
    margin: 0 15px 30px 0;
    color: #666;
    font-size: 30px;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
}
.term-description{
    line-height: 40px;
    margin-bottom: 30px;
    padding-right: 90px;
}
.term-description p{
    margin: 0;
    padding: 0;
    line-height: 25px;
}



/** =========================
    2. Woocommerce breadcrumb
*** =========================*/
.woocommerce-breadcrumb-wrapper{
    margin-top: -30px;
    margin-bottom: 30px;
}
.woocommerce .woocommerce-breadcrumb{
    background: #f7f7f7;
    border: medium none;
    color: #666;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.woocommerce-breadcrumb .navigation-pipe {
    background: url("../images/navigation-pipe-bg.png") no-repeat center center;
    display: inline-block;
    text-indent: -999px;
    width: 25px;
}

.woocommerce-breadcrumb .page-return {
    background: url("../images/page-return-bg.png") no-repeat left center;
    display: inline-block;
    float: right;
    padding: 0 0 0 15px;
}
.woocommerce .woocommerce-breadcrumb a:hover{
    color: #333;
}



/** =========================
    3. Woocommerce widget
*** =========================*/

/* === 3.1. Product categories ====*/
ul.product-categories li{
    position: relative;
    list-style: none;
}
ul.product-categories li a{
    color: #cccccc;
}
ul.product-categories > li.current-cat > a,
ul.product-categories li a:hover{
    background-color: #767676;
    text-decoration: none;
}
ul.product-categories > li{
    
}
ul.product-categories > li > a{
    border-top: 1px solid #767676;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    padding: 0 34px 0 40px;
    background: url(../images/cate_item_bg.png) no-repeat 20px center;
}
ul.product-categories > li span.count{
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
}
ul.product-categories > li li span.count{
    top: 5px;
}

ul.product-categories > li.cat-parent > a{
    
}
ul.product-categories > li > ul{
    padding: 0;
    margin: 0 0 12px;
    display: none;
}
ul.product-categories > li > ul > li{
    
}
ul.product-categories > li > ul > li > a{
    padding-left: 56px;
    display: block;
    padding: 5px 15px 5px 56px;
}
ul.product-categories > li > ul > li > a:after{
    background: #cccccc;
    content: "";
    height: 4px;
    left: 40px;
    position: absolute;
    top: 12px;
    width: 4px;
}
ul.product-categories > li.current-cat-parent.cat-parent ul,
ul.product-categories > li.current-cat > ul{
    display: block;
}

ul.product-categories > li.cat-parent.current-cat-parent > a,
ul.product-categories > li.cat-parent.current-cat > a{
    background-image: url(../images/cart_arrow_bg.png);
}

/* === 3.2. Price filter ====*/
.woocommerce .widget_price_filter .ui-slider-horizontal{
    height: 5px;
    margin-bottom: 1em;
}
.woocommerce .widget_price_filter .ui-slider {
    margin-left: 0.5em;
    position: relative;
    text-align: left;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
    background: #cccccc;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
    background: #333333;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
    background: #333333;
    width: 7px;
    height: 15px;
    background: url(../images/price_bg.png) no-repeat top left;
    
    cursor: ew-resize;
    margin-left: -0.5em;
    outline: 0 none;
    position: absolute;
    top: -0.3em;
    z-index: 2;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
    float: left;
    font-size: 1.15em;
}
.woocommerce .widget_price_filter .price_slider_amount {
    font-size: 0.8751em;
    line-height: 2.4;
    text-align: right;
}
/* === 3.3.  Cart and Product list widget ====*/
.woocommerce ul.product_list_widget{
    margin: 0;
    padding: 0;
    list-style: none;
} 
.woocommerce ul.product_list_widget li{
    padding: 20px 0 15px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.woocommerce ul.product_list_widget li:last-child{
    border: none;
} 
.woocommerce ul.product_list_widget li img{
    float: left;
    width: 70px;
    margin: 0 17px 5px 0;
    height: auto;
} 
.woocommerce ul.product_list_widget li a{
    font-weight: 200;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    color: #666666;
}
.woocommerce ul.product_list_widget li a:hover, 
.woocommerce ul.product_list_widget li a:focus{
    text-decoration: none;
}
.woocommerce ul.cart_list li span.quantity,
.woocommerce ul.product_list_widget li .price-box{
    font-size: 18px;
}
.woocommerce ul.product_list_widget li ins{
    text-decoration: none;
}
.woocommerce ul.product_list_widget li del span.amount{
    font-size: 14px;
    float: right;
    text-decoration: line-through;
}


.woocommerce ul.cart_list{
    margin-bottom: 10px;
}
.woocommerce ul.cart_list li{
    padding-left: 20px;
}
.woocommerce ul.cart_list li a.remove{
    left: 0;
    position: absolute;
    width: 15px;
}

/** =========================
    4. Product list
*** =========================*/

.woocommerce .category-slide-container,
.woocommerce-page .category-slide-container{
    background: #d8d7d5;
}

.woocommerce ul.products{
    padding: 0;
    margin: 0;
    list-style: none;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product{
    position: relative;
    padding-bottom: 25px;
    text-align: center;
}
.woocommerce ul.products li.first, 
.woocommerce-page ul.products li.first{
    clear: both;
}
.woocommerce ul.products li.last, 
.woocommerce-page ul.products li.last {
    margin-right: 0;
}

.woocommerce ul.products h5{
    margin: 0;
    padding: 0 15px;
}
.woocommerce ul.products h5 a{
    color: #666;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    text-transform: capitalize;
}
.woocommerce ul.products span.price{
    color: #666;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 0;
    text-transform: uppercase;
}
.woocommerce ul.products span.price del,
.woocommerce ul.products span.price ins{
    margin: 0 7px;
}
.woocommerce ul.products span.price ins{
    text-decoration: none;
}
.woocommerce ul.products span.price del .amount{
    color: #999;
    font-size: 14px;
}

.woocommerce ul.products .product-image-container{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}
.woocommerce ul.products .product-image-container a.product-thumbnail{
    display: block;
    overflow: hidden;
    position: relative;
}
.woocommerce ul.products li.product a img.product-img{
    box-shadow: none;
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: top 0.4s ease;
    transition: all ease 0.4s;
    transform: translateY(0);
}

.woocommerce ul.products .product-image-container .product-thumbnail-effect img.second-img {
    position: absolute;
    left: 0;
    top: 100%;
}
.woocommerce ul.products li:hover .product-image-container .product-thumbnail-effect img.product-img{
    transform: translateY(-100%);
}
.product_type_variable,
.add_to_cart_button,
.functional-buttons{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all ease 0.6s;
    position: absolute;
    width: 120px;
    background: #333333;
}

.product_type_variable,
.add_to_cart_button{
    border: medium none;
    color: #fff;
    font-size: 14px;
    height: 40px;
    left: -130px;
    line-height: 40px;
    text-align: center;
    margin-left: 0;
    
    /* Firefox */
    top: -moz-calc(50% - 45px);
    /* WebKit */
    top: -webkit-calc(50% - 45px);
    /* Opera */
    top: -o-calc(50% - 45px);
    /* Standard */
    top: calc(50% - 45px);
    
    
}





.product_type_variable:hover,
.add_to_cart_button:hover{
    color: #FFF;
    background: #000;
}

.woocommerce ul.products li:hover .product_type_variable,
.woocommerce ul.products li:hover .add_to_cart_button{
    left: 50%;
    margin-left: -60px;
}

.functional-buttons{
    margin-right: 0;
    padding: 0 12px;
    right: -130px;
    
    
    /* Firefox */
    top: -moz-calc(50% + 5px);
    /* WebKit */
    top: -webkit-calc(50% + 5px);
    /* Opera */
    top: -o-calc(50% + 5px);
    /* Standard */
    top: calc(50% + 5px);
    
}
.woocommerce ul.products li:hover .functional-buttons{
    right: 50%;
    margin-right: -60px;
}
.yith-wcwl-wishlistaddedbrowse a,
.yith-wcwl-wishlistexistsbrowse a,
.yith-wcwl-add-to-wishlist,
.yith-wcwl-add-button a.add_to_wishlist,
.product.compare-button a,
.product-quick-view{
    float: left;
    font-size: 0;
    height: 40px;
    line-height: 0;
    text-align: center;
    width: 32px;
    margin: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}
.yith-wcwl-wishlistaddedbrowse a:after,
.yith-wcwl-wishlistexistsbrowse a:after,
.yith-wcwl-add-button a.add_to_wishlist:after,
.product.compare-button a:after,
.product-quick-view:after{
    content: "\f06e";
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
}
.product.compare-button a:after{
    content: "\f0ec";
}
.yith-wcwl-wishlistaddedbrowse a:after,
.yith-wcwl-wishlistexistsbrowse a:after,
.yith-wcwl-add-button a.add_to_wishlist:after{
    content: "\f004";
}
.yith-wcwl-wishlistaddedbrowse a:after,
.yith-wcwl-wishlistexistsbrowse a:after{
    color: #cccccc;
}
.yith-wcwl-add-button a.add_to_wishlist,
.product.compare-button a,
.product-quick-view{
    color: #FFF;
}
.yith-wcwl-wishlistaddedbrowse a:hover,
.yith-wcwl-wishlistexistsbrowse a:hover,
.yith-wcwl-add-button a.add_to_wishlist:hover,
.product.compare-button a:hover,
.product-quick-view:hover,
.yith-wcwl-wishlistaddedbrowse a:focus,
.yith-wcwl-wishlistexistsbrowse a:focus,
.yith-wcwl-add-button a.add_to_wishlist:focus,
.product.compare-button a:focus,
.product-quick-view:focus{
    text-decoration: none;
    background: #000;
    color: #FFF;
}
.yith-wcwl-add-to-wishlist .ajax-loading{
    margin-top: 5px;
}
.woocommerce span.onsale{
    background: #4a4a4a;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    height: 38px;
    line-height: 38px;
    margin: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    text-transform: lowercase;
    top: 10px;
    width: 38px;
    z-index: 10;
}

/** =========================
    5. Product Detail
*** =========================*/
.woocommerce .product-detail-content{
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 50px;
    padding: 30px 30px;
    max-width: 100%;
}
.woocommerce .product-detail-inner{
    margin-bottom: 20px;
}
.woocommerce .product-detail-thumbarea{
    position: relative;
}
.woocommerce .single-product-main-images,
.woocommerce .single-product-main-thumbnails{
    margin-bottom: 20px;
}
.woocommerce .single-product-main-images img{
    max-width: 100%;
}
.woocommerce .single-product-main-thumbnails{
    padding: 0 40px;
}
.woocommerce .woocommerce-thumbnails.owl-carousel .owl-item{
    padding: 0 5px;
}
.woocommerce .woocommerce-thumbnails .owl-controls .owl-buttons div{
    position: absolute;
    width: 30px;
    border: 1px solid #cccccc;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-position:  center center;
}
.woocommerce .woocommerce-thumbnails .owl-controls .owl-buttons div:hover{
    background-color: #f7f7f7;
}
.woocommerce .woocommerce-thumbnails .owl-controls .owl-buttons div.owl-prev{
    left: 0;
    background-image: url(../images/cate_item_bg_prev.png);
}
.woocommerce .woocommerce-thumbnails .owl-controls .owl-buttons div.owl-next{
    right: 0;
    background-image: url(../images/cate_item_bg.png);
}
.woocommerce .woocommerce-product-rating,
.woocommerce .summary .product_meta_sku,
.woocommerce .summary .posted_in,
.woocommerce .summary .tagged_as{
    margin: 0 0 5px;
    display: block;
}
.woocommerce .summary .product_meta,
.woocommerce .summary .product-short-description{
    margin: 0 0 20px;
}
.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce .woocommerce-product-rating .woocommerce-review-link{
    float: left;
    margin-right: 11px;
}
.woocommerce .summary .quantity{
    margin-right: 10px;
    float: left;
}
.woocommerce .summary .quantity span{
    float: left;
    margin-right: 17px;
    line-height: 38px;
}
.woocommerce .summary .quantity .input-text{
    border: 1px solid #cccccc;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 38px;
    margin-right: 1px;
    padding: 0 20px;
    width: 80px;
    -moz-appearance: textfield;
}
.woocommerce .summary .quantity input[type=button]{
    width: 23px;
    height: 38px;
    padding: 0;
    margin: 0 1px 0 0;
    border: 1px solid #cccccc;
    background: #f7f7f7;
    float: left;
}
.woocommerce .summary .single_add_to_cart_button{
    background: #333333;
    border: 1px solid #cccccc;
    height: 38px;
    color: #FFF;
    padding: 0 18px;
}

.woocommerce .variations td.variations-label{
    padding: 10px 12px 10px 0;
    vertical-align: top;
}
.woocommerce .variations td.variations-label label{
    font-weight: normal;
    margin: 0;
    padding-top: 2px;
}
.woocommerce .variations td.variations-value{
    border: medium none;
    padding: 10px 0;
    vertical-align: top;
}
.woocommerce .variations td.variations-value select{
    cursor: pointer;
    height: 30px;
    width: 174px;
    border: 1px solid #e4e4e4;
    background: url(../images/selectbox-arrow.png) no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.woocommerce .variations .reset_variations{
    
}
.woocommerce .variations .reset_variations:before{
    content: "";
    clear: both;
    display: block;
    height: 10px;
}
.woocommerce .woocommerce-tabs{
    
}
.woocommerce .woocommerce-tabs ul.tabs{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.woocommerce .woocommerce-tabs ul.tabs li{
    float: left;
    margin-bottom: -1px;
}
.woocommerce .woocommerce-tabs ul.tabs li a{
    border: 1px solid #ccc;
    display: block;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    margin-right: 10px;
    padding: 0 15px;
    text-align: center;
}
.woocommerce .woocommerce-tabs ul.tabs li.active > a, 
.woocommerce .woocommerce-tabs ul.tabs li > a:hover, 
.woocommerce .woocommerce-tabs ul.tabs li > a:focus {
    background: none repeat scroll 0 0 #f7f7f7;
    border-color: #ccc;
}

.woocommerce .woocommerce-tabs #product-tab-content{
    border: 1px solid #ccc;
    float: left;
    font-weight: normal;
    line-height: 22px;
    padding: 15px;
    width: 100%;
}
.woocommerce .woocommerce-tabs #product-tab-content .panel{
    box-shadow: 0 0 0;
    margin: 0;
    padding: 0;
    border: none;
}
.woocommerce table.shop_attributes{
    border: none;
    margin-bottom: 15px;
    width: 100%;
}
.woocommerce table.shop_attributes th{
    border: medium none;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0;
    padding: 8px;
    width: 120px;
}
.woocommerce table.shop_attributes td,
.woocommerce table.shop_attributes th{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.02);
}
.woocommerce table.shop_attributes .alt td, 
.woocommerce table.shop_attributes .alt th{
    background: transparent;
}
.woocommerce table.shop_attributes td p{
    margin: 0;
    padding: 0;
} 
/** =========================
    6. Pagination & Ordering & Result count
*** =========================*/

.woocommerce-ordering{
    float: left;
}
.woocommerce-ordering .hasCustomSelect{
    z-index: 2;
}
.woocommerce-ordering span.customSelect{
    border: 1px solid #e4e4e4;
    padding: 5px 25px 5px 7px;
    position: relative;
}
.woocommerce-ordering span.customSelect:after{
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 10px;
    line-height: 10px;
    margin-top: -5px;
    position: absolute;
    right: 9px;
    top: 50%;
}
.woocommerce-result-count{
    float: right;
    margin: 0 50px 0 0;
}
.woocommerce-pagination{
    float: right;
}
.woocommerce-pagination span{
    float: left;
}
.woocommerce-pagination ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
.woocommerce-pagination ul li{
    display: inline-block;
    float: left;
    padding: 0 5px;
}
.woocommerce-pagination ul li a{
    color: #666666;
}



/** =========================
    6. Product popup
*** =========================*/
.themedev-product-popup{
    background: #ffffff;
    margin: auto;
    max-width: 850px;
    position: relative;
}


/** =========================
    7. Product Comment
*** =========================*/


.woocommerce #reviews #comments h2 {
    clear:none;
}
.woocommerce #reviews #comments ol.commentlist {
    width:100%;
    background:0 0;
    list-style:none;
    margin:0;
    padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li {
    position:relative;
    background:0;
    border:0;
    margin:0 0 20px;
    padding:0;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
    color:#777;
    font-size:.75em;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float:left;
    position:absolute;
    top:0;
    left:0;
    width:32px;
    height:auto;
    background:#ebe9eb;
    border:1px solid #e4e1e3;
    box-shadow:none;
    margin:0;
    padding:3px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border:1px solid #e4e1e3;
    margin:0 0 0 50px;
    padding:1em 1em 0;
}
.woocommerce #reviews #comments ol.commentlist ul.children {
    list-style:none;
    margin:20px 0 0 50px;
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating {
    display:none;
}
.woocommerce #reviews #comments ol.commentlist #respond {
    border:1px solid #e4e1e3;
    border-radius:4px;
    margin:20px 0 0 50px;
    padding:1em 1em 0;
}
.woocommerce #reviews #comments .commentlist>li:before {
    content:"";
}
.woocommerce .star-rating {
    float:right;
    overflow:hidden;
    position:relative;
    height:1em;
    line-height:1;
    font-size:1em;
    width:5.4em;
    font-family:star;
}
.woocommerce .star-rating:before {
    content:"\73\73\73\73\73";
    color:#d3ced2;
    float:left;
    top:0;
    left:0;
    position:absolute;
}
.woocommerce .star-rating span {
    overflow:hidden;
    float:left;
    top:0;
    left:0;
    position:absolute;
    padding-top:1.5em;
}
.woocommerce .star-rating span:before {
    content:"\53\53\53\53\53";
    top:0;
    position:absolute;
    left:0;
    color: #ffcc30;
}
.woocommerce .woocommerce-product-rating {
    line-height:2;
    display:block;
}
.woocommerce .woocommerce-product-rating .star-rating {
    float:left;
    margin:.5em 4px 0 0;
}
.woocommerce .products .star-rating {
    display:block;
    float:none;
    margin:0 0 .5em;
}
.woocommerce .hreview-aggregate .star-rating {
    margin:10px 0 0;
}
.woocommerce #review_form #respond {
    position:static;
    width:auto;
    background:0 0;
    border:0;
    margin:0;
    padding:0;
}
.woocommerce #review_form #respond p {
    margin:0 0 10px;
}
.woocommerce #review_form #respond .form-submit input {
    left:auto;
}
.woocommerce #review_form #respond textarea {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
}
.woocommerce p.stars {
    position:relative;
    font-size:1em;
}
.woocommerce p.stars a {
    display:inline-block;
    font-weight:700;
    margin-right:1em;
    text-indent:-9999px;
    position:relative;
    border-bottom:0!important;
    outline:0;
}
.woocommerce p.stars a:last-child {
    border-right:0;
}
.woocommerce p.stars a.star-1,
.woocommerce p.stars a.star-2,
.woocommerce p.stars a.star-3,
.woocommerce p.stars a.star-4,
.woocommerce p.stars a.star-5 {
    border-right:1px solid #ccc;
}
.woocommerce p.stars a.star-1:after,
.woocommerce p.stars a.star-2:after,
.woocommerce p.stars a.star-3:after,
.woocommerce p.stars a.star-4:after,
.woocommerce p.stars a.star-5:after {
    font-family:WooCommerce;
    text-indent:0;
    position:absolute;
    top:0;
    left:0;
}
.woocommerce p.stars a.star-1 {
    width:2em;
}
.woocommerce p.stars a.star-1:after {
    content:"\e021";
}
.woocommerce p.stars a.star-1.active:after,
.woocommerce p.stars a.star-1:hover:after {
    content: "\e020";
    color: #ffcc30;
}
.woocommerce p.stars a.star-2 {
    width:3em;
}
.woocommerce p.stars a.star-2:after {
    content:"\e021\e021";
}
.woocommerce p.stars a.star-2.active:after,
.woocommerce p.stars a.star-2:hover:after {
    content: "\e020\e020";
    color: #ffcc30;
}
.woocommerce p.stars a.star-3 {
    width:4em;
}
.woocommerce p.stars a.star-3:after {
    content:"\e021\e021\e021";
}
.woocommerce p.stars a.star-3.active:after,
.woocommerce p.stars a.star-3:hover:after {
    content: "\e020\e020\e020";
    color: #ffcc30;
}
.woocommerce p.stars a.star-4 {
    width:5em;
}
.woocommerce p.stars a.star-4:after {
    content:"\e021\e021\e021\e021";
}
.woocommerce p.stars a.star-4.active:after,
.woocommerce p.stars a.star-4:hover:after {
    content: "\e020\e020\e020\e020";
    color: #ffcc30;
}
.woocommerce p.stars a.star-5 {
    width:6em;
    border:0;
}
.woocommerce p.stars a.star-5:after {
    content:"\e021\e021\e021\e021\e021";
}
.woocommerce p.stars a.star-5.active:after,
.woocommerce p.stars a.star-5:hover:after {
    content: "\e020\e020\e020\e020\e020";
    color: #ffcc30;
}



/** =========================
    8. Product Cart
*** =========================*/


.woocommerce-cart .cart-collaterals{
    background: #f7f7f7;
    margin: 0;
    padding: 20px 30px;
}

.woocommerce-cart .cart-collaterals .shipping_calculator .button {
  width: 100%;
  float: none;
  display: block;
}

.woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
  font-family: WooCommerce;
  speak: none;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: .618em;
  content: "?";
  text-decoration: none;
}

.woocommerce-cart .cart-collaterals .cart_totals p small {
  color: #777;
  font-size: .83em;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
  border-collapse: separate;
  margin: 0 0 6px;
  padding: 0;
  width: 100%;
  border-left: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child td,
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child th {
  border-top: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
  width: 25%;
}

.woocommerce-cart .cart-collaterals .cart_totals table td,
.woocommerce-cart .cart-collaterals .cart_totals table th {
  vertical-align: top;
  border-left: 0;
  border-right: 0;
  padding: 6px 0;
  line-height: 2em;
}

.woocommerce-cart .cart-collaterals .cart_totals table small {
  color: #777;
}

.woocommerce-cart .cart-collaterals .cart_totals table select {
  width: 100%;
}

.woocommerce-cart .cart-collaterals .cart_totals .discount td {
  color: #77a464;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th {
  border-top: 1px solid #ebe9eb;
}

.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product {
  margin-top: 0;
}


.woocommerce-cart table.cart .product-thumbnail {
  min-width: 32px;
}

.woocommerce-cart table.cart img {
  width: 32px;
  box-shadow: none;
}

.woocommerce-cart table.cart td,.woocommerce-cart table.cart th {
  vertical-align: middle;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d3ced2;
  padding: 6px 6px 5px;
  margin: 0 4px 0 0;
  outline: 0;
  line-height: 1;
}

.woocommerce-cart table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1;
}

/** =========================
    9. Product Checkout
*** =========================*/

.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
  float: left;
  clear: none;
}

.woocommerce-checkout .checkout .col-2 .form-row-first,
.woocommerce-checkout .checkout .col-2 .notes {
  clear: left;
}

.woocommerce-checkout .checkout .create-account small {
  font-size: 11px;
  color: #777;
  font-weight: 400;
}

.woocommerce-checkout .checkout div.shipping-address {
  padding: 0;
  clear: left;
  width: 100%;
}

.woocommerce-checkout .checkout .shipping_address {
  clear: both;
}

.woocommerce-checkout #payment {
  background: #ebe9eb;
  border-radius: 5px;
}

.woocommerce-checkout #payment ul.payment_methods {
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #d3ced2;
  margin: 0;
  list-style: none;
}

.woocommerce-checkout #payment ul.payment_methods:after,
.woocommerce-checkout #payment ul.payment_methods:before {
  content: " ";
  display: table;
}

.woocommerce-checkout #payment ul.payment_methods:after {
  clear: both;
}

.woocommerce-checkout #payment ul.payment_methods li {
  line-height: 2;
  text-align: left;
  margin: 0;
  font-weight: 400;
}

.woocommerce-checkout #payment ul.payment_methods li input {
  margin: 0 1em 0 0;
}

.woocommerce-checkout #payment ul.payment_methods li img {
  vertical-align: middle;
  margin: -2px 0 0 .5em;
  padding: 0;
  position: relative;
  box-shadow: none;
}

.woocommerce-checkout #payment ul.payment_methods li img+img {
  margin-left: 2px;
}

.woocommerce-checkout #payment div.form-row {
  padding: 1em;
}

.woocommerce-checkout #payment div.payment_box {
  position: relative;
  width: 96%;
  padding: 1em 2%;
  margin: 1em 0;
  font-size: .92em;
  border-radius: 2px;
  line-height: 1.5;
  background-color: #dfdcde;
  color: #515151;
}

.woocommerce-checkout #payment div.payment_box input.input-text,
.woocommerce-checkout #payment div.payment_box textarea {
  border-color: #bbb3b9 #c7c1c6 #c7c1c6;
}

.woocommerce-checkout #payment div.payment_box ::-webkit-input-placeholder {
  color: #bbb3b9;
}

.woocommerce-checkout #payment div.payment_box :-moz-placeholder {
  color: #bbb3b9;
}

.woocommerce-checkout #payment div.payment_box :-ms-input-placeholder {
  color: #bbb3b9;
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number {
  font-size: 1.5em;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: right;
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.visa {
  background-image: url(../images/icons/credit-cards/visa.png);
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.mastercard {
  background-image: url(../images/icons/credit-cards/mastercard.png);
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.laser {
  background-image: url(../images/icons/credit-cards/laser.png);
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.dinersclub {
  background-image: url(../images/icons/credit-cards/diners.png);
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.maestro {
  background-image: url(../images/icons/credit-cards/maestro.png);
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.jcb {
  background-image: url(../images/icons/credit-cards/jcb.png);
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.amex {
  background-image: url(../images/icons/credit-cards/amex.png);
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.discover {
  background-image: url(../images/icons/credit-cards/discover.png);
}

.woocommerce-checkout #payment div.payment_box span.help {
  font-size: .857em;
  color: #777;
  font-weight: 400;
}

.woocommerce-checkout #payment div.payment_box .form-row {
  margin: 0 0 1em;
}

.woocommerce-checkout #payment div.payment_box p:last-child {
  margin-bottom: 0;
}

.woocommerce-checkout #payment div.payment_box:after {
  content: "";
  display: block;
  border: 8px solid #dfdcde;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -3px;
  left: 0;
  margin: -1em 0 0 2em;
}

.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  float: right;
  line-height: 52px;
  font-size: .83em;
}

.woocommerce-checkout #payment .payment_method_paypal img {
  max-height: 52px;
  vertical-align: middle;
}
/** =========================
    10. Woocommerce carousel
*** =========================*/
.woocommerce-carousel-wrapper{
    
}
.woocommerce-carousel-wrapper li.product.type-product{
    display: none;
}
.woocommerce-carousel-wrapper .owl-item li.product.type-product{
    display: block;
}
/** =========================
    11. Sales Countdown
*** =========================*/
.woocommerce-countdown{
    margin-bottom: 12px;
}
.woocommerce-countdown > div{
    text-align: center;
    padding: 5px 15px;
    background: #f6f6f6;
    color: #000;
    float: left;
    margin: 0 5px 5px 0;
}
.woocommerce-countdown > div span{
    display: block;
    font-size: 18px;
    line-height: normal;
}
.sales-countdown-carousel-wrapper{
    margin: 0 0 15px;
}
.sales-countdown-carousel-wrapper .sales-countdown-right{
    text-align: left;
}
.sales-countdown-carousel-wrapper .woocommerce ul.products h5{
    padding: 0;
}
.sales-countdown-carousel-wrapper .woocommerce ul.products span.price del, 
.sales-countdown-carousel-wrapper .woocommerce ul.products span.price ins{
    margin-left: 0;
}
.sales-countdown-carousel-wrapper .woocommerce ul.products span.price{
    margin-bottom: 20px;
}
.sales-countdown-carousel-wrapper .woocommerce ul.products .woocommerce-countdown-rating{
    margin-bottom: 12px;
}